// Шрифты ============================================================================================================================
$fontFamily: "Roboto", sans-serif;
$fontSize: 14px;

// Цвета ============================================================================================================================
$blackColor: #000;
$whiteColor: #fff;
$accentColor: #2B4074;
$accentHoverColor: #1f3262;
$textColor: #4a4a4a;
$bgColor: #F9F6E5;
$bgHoverColor: #f3ecc8;
$mainColor: #9B9B9B;

// Отступы ============================================================================================================================
$mainOffset: 20px;