@media (min-width: 1440px) {
    // ============================================================= COMPONENTS ================================================================//
    .projects-modal{
        &__inner{
            width: 50%;
            height: 500px;
        }
    }


    // general
    .container{
        max-width: 1310px;
        margin: 0 auto; 
    }

    // main ---------------
    .main{
        min-height: 668px;
    }

    .main-slider{
        min-height: 668px;
        padding: 107px 0 80px 0;

        &__title{
            max-width: 865px;
            font-size: 96px;
            margin-bottom: 20px;
        }

        &__text{
            max-width: 892px;
            margin-bottom: 28px;
            font-size: 24px;
            line-height: calc(26 / 24);
        }

        &__btn{
            margin-bottom: 123px;
        }
    }
    // ============================================================================================================================== //
    // CALL
    .call{
        min-height: 192px;
        padding: 57px 0;

        &__container{
            max-width: 1300px;
            padding: 0 70px;
        }

        &__box{
            max-width: 520px;
        }

        &__title{
            font-size: 24px;
            line-height: calc(32/24);
            margin-bottom: 20px;
        }

        &__text{
            margin: 0;
            font-size: 16px;
            line-height: calc(18 / 16);
        }
    }
    // ============================================================================================================================== //
    // Services
    .container{
        max-width: 1440px;
        padding: 0 60px;
    }

    .services{
        padding: 0;

        &__inner{
            display: flex;
            justify-content: space-between;
        }

        // Head
        &__head{
            max-width: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__title{
            margin-bottom: 70px;
            text-align: left;
        }
        &__descr{
            margin-bottom: 35px;
        }

        // Grid
        &__grid{
            width: 920px;
            margin: 0 -60px 0 0;
        }
        &__item{
            width: 25%;
            padding: 8px;
            &:last-child{
                border: 1px solid rgba($mainColor, .2);
                border-top: none;
            }
        }
        &__item-icon{
            margin-bottom: 27px;
        }
    }
    // ============================================================================================================================== //
    // Projects
    .projects{
        &__grid{
            max-width: 100%;
        }
        
        &__item{
            min-width: 320px !important;
        }

        &__item-link{
            padding: 30px 0;
        }
    }

    // Team
    .team{
        &__container{
           max-width: 1200px;
        }

        &__img{
            width: 470px;
            min-height: 430px;
        }

        &__title{
            font-size: 48px;
            line-height: calc(56/48);
            padding-bottom: 38px;
            margin-bottom: 39px;
        }

        &__text{
            font-size: 18px;
            line-height: calc(24/18);
            margin-bottom: 39px;
        }
    }
    // ========================================================================================================================================//
    // Last news
    .last-news{
        padding: 50px 0 80px 0;

        &__title{
            margin-bottom: 115px;
        }
        
        &__grid{
            grid-template-columns: repeat(4, 1fr);
        }

        &__item{
            &:nth-child(1){
                grid-row: 1/10;
            }
            &:nth-child(2){
                grid-row: 1/8;
            }
            &:nth-child(3){
                grid-row: 1/9;
            }
            &:nth-child(4){
                grid-column: 4;
                grid-row: 1/6;
            }
            &:nth-child(5){
                grid-column: 1;
                grid-row: 10/14;
            }
            &:nth-child(6){
                grid-column: 2;
                grid-row: 8/15;
            }
            &:nth-child(7){
                grid-column: 3;
                grid-row: 9/13;
            }
            &:nth-child(8){
                grid-row: 6/15;
            }
        }
    }

    // Footer
    .footer{
        &__title{
            max-width: 620px;
            font-size: 24px;
            line-height: calc(32/24);
        }
    }


}